<div class="modal-header bg-warning">
    <h3 class="modal-title">Charger le patch</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="fichier">Patch GIT</label>
            <input type="file" id="fichier">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="changePathCtrl.change()">Charger</button>
    <button class="btn btn-default" type="button" ng-click="changePathCtrl.cancel()">Cancel</button>
</div>